<!DOCTYPE html>
<html lang="zxx">

<head>
	<title> </title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Edulearn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	
<script language="Javascript" type="text/javascript">


	function createRequestObject() {
		var tmpXmlHttpObject;
		if (window.XMLHttpRequest) {
				tmpXmlHttpObject = new XMLHttpRequest();
		} else if (window.ActiveXObject) {
			tmpXmlHttpObject = new ActiveXObject("Microsoft.XMLHTTP");
		}
	
		return tmpXmlHttpObject;
	}
	
	
	var http = createRequestObject();
	
	function makeGetRequest1(st) {
	   // st=document.frm.state.value;
	   
		http.open('get', '/UseridVali?userid=' + st);
		http.onreadystatechange = processResponse1;
		http.send(null);
	}
	
	function processResponse1() {
		if(http.readyState == 4){
			var response = http.responseText;
			if(response.includes("Userid is Not available, Please try another!!"))
			{
				//alert("yes")
				document.getElementById('userid').value=""
			}
			document.getElementById('useridvali').innerHTML = response;
		}
	}
	 
	</script>
<script language="Javascript" type="text/javascript">
 

	function createRequestObject() {
		var tmpXmlHttpObject;
		if (window.XMLHttpRequest) {
				tmpXmlHttpObject = new XMLHttpRequest();
		} else if (window.ActiveXObject) {
			tmpXmlHttpObject = new ActiveXObject("Microsoft.XMLHTTP");
		}
	
		return tmpXmlHttpObject;
	}
	
	
	var http = createRequestObject();
	
	function makeGetRequest(st) {
	   // st=document.frm.state.value;
	   
		http.open('get', '/Cities?state=' + st);
		http.onreadystatechange = processResponse;
		http.send(null);
	}
	
	function processResponse() {
		if(http.readyState == 4){
			var response = http.responseText;
			document.getElementById('cities').innerHTML = response;
		}
	}
	 
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<!-- Bootstrap-Core-Css -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<!-- Testimonials-Css -->
	<link href="/static/css/mislider.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/mislider-custom.css" rel="stylesheet" type="text/css" />
	<!-- Style-Css -->
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
	<!-- Font-Awesome-Icons-Css -->
	<link rel="stylesheet" href="/static/css/fontawesome-all.css">
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //Web-Fonts -->

</head>

<body>{% csrf_token %}
	<!-- header -->
	<header>
		<!-- top header  -->
		<div class="top-head-w3ls py-2 bg-dark">
			<div class="container">
				<div class="row">
					<h1 class="text-capitalize text-white col-12">
						<i class="fas fa-book text-dark bg-white p-2 rounded-circle mr-3"></i><marquee> {% for rec in lstevents %} {{rec.0}} is scheduled on date {{rec.1 }} at {{ rec.2}}. Venue is {{rec.3 }}{% endfor %}</marquee></h1>
					 
				</div>
			</div>
		</div>
	<!--  //top header -->
		 


 <!--Top Header -->
 <div id="myId-head"> <section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 d-flex justify-content-center">
                <a href="https://mitra.ac.in/index.html">
                    <img src="../static/images/logo1.png" alt="">
                </a>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 d-flex justify-content-center">
                <div class="maintext right-section">
                    <div class="vidarbhatext" style="text-align:center;">
                        <p style="margin-bottom: 0px;" class="name-1 text-dark pt-3 fw-bold">Vidarbha Youth Welfare
                            Society's</p>
                        <h3 class="name-1 fw-bold">Prof. Ram Meghe Institute of Technology and Research<br> Badnera
                            -
                            Amravati 444701(MS)
                        </h3>
                        <p style="margin-bottom: 0px;" class="name-1 text-dark fw-bold">(Formerly College of
                            Engineering, Badnera) - Estd. 1983</p>
                        <p style="margin-bottom: 0px ; color:red;" class="name-1 fs-4">
                            <strong> An Autonomous Institute</strong>
                        </p>
                        <p class="name-1 text-dark fw-bold">(Affiliated to Sant Gadge Baba Amravati University)</p>
                      
                    </div>

                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12   justify-content-center NAAC_logo_main">
                <img src="../static/images/logo2.png" alt="" class="NAAC_logo">
                <p style="color:red;text-align: center;"><strong>CGPA 3.43</strong></p>
                
            </div>
           
        </div>

    </div>

</section></div>
     
    <!-- top-header end -->


<!-- middle header -->
<div class="middle-w3ls-nav py-2">
	<div class="container">
		<div class="row">
			<a class="logo font-italic font-weight-bold col-lg-12 text-lg-center text-center" href="/home">Campus Club Management System</a>
			 
			</div>
		</div>
	</div>
</div>
<!-- //middle header -->



		
	</header>
	<!-- //header -->

	<!-- banner -->
	<div class="banner-agile">
		<ul class="slider">
			<li class="active">
				<div class="banner-w3ls-1">
				</div>
			</li>
			<li> 
				<div class="banner-w3ls-2">
				</div>
			</li>
			<li>
				<div class="banner-w3ls-3">
				</div>
			</li>
			<li>
				<div class="banner-w3ls-4">
				</div>
			</li>
			<li class="prev">
				<div class="banner-w3ls-5">
				</div>
			</li>
		</ul>
		<ul class="pager">
			<li data-index="0" class="active"></li>
			<li data-index="1"></li>
			<li data-index="2"></li>
			<li data-index="3"></li>
			<li data-index="4"></li>
		</ul>
		<div class="banner-text-posi-w3ls">
			<div class="banner-text-whtree">
				<h3 class="text-capitalize text-white p-4">your bright future
					<b>is our mission!</b>
				</h3>
				<p class="px-4 py-3 text-dark">Participate in all available Clubs</p>
				 
			</div>
		</div>

		<!-- navigation -->
		<div class="navigation-w3ls">
			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-center">
						<li class="nav-item active">
							<a class="nav-link text-white" href="/home">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="/event_calendar/">Event Calendar</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link text-white" href="/loginpage/">Login</a>
						</li>
						<!--<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Courses
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="language.html">Language</a>
								<a class="dropdown-item" href="communication.html">Communication</a>
								<a class="dropdown-item" href="business.html">Business</a>
								<a class="dropdown-item" href="software.html">Software</a>
								<a class="dropdown-item" href="social_media.html">Social Media</a>
								<a class="dropdown-item" href="photography.html">Photography</a>
								<a class="dropdown-item" href="course_details.html">Course Details</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="form.html">Apply Now</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pages
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="about.html">Instructors</a>
								<a class="dropdown-item" href="index.html">What We Do</a>
								<a class="dropdown-item" href="login.html">Login</a>
								<a class="dropdown-item" href="register.html">Register</a>
								<a class="dropdown-item" href="404.html">404 Page</a>
								<a class="dropdown-item" href="coming_soon.html">Coming Soon</a>
								<a class="dropdown-item" href="form.html">Admission Form</a>
								<a class="dropdown-item" href="faq.html">Faq</a>
							</div>
						</li>-->
						<li class="nav-item">
							<a class="nav-link text-white" href="/regpage/">Registration</a>
						</li>
						 
					</ul>
				</div>
			</nav>
		</div>
		<!-- //navigation -->
	</div>
	<!-- //banner -->

	<!-- about -->
	<div class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Welcome to
				<span class="font-weight-bold">Campus Club Management System</span>
			</h3>
			<div class="row pt-md-4">
				<div class="col-lg-6 about_right">
					 
					<div class="about_left-list">
						<h6 class="mb-lg-3 mb-2 font-weight-bold text-dark">Our Benefits</h6>
						<ul class="list-unstyled">
							<li class="mb-2">
								<i class="fas fa-check mr-3"></i>Sentiment Analysis</li>
							<li class="mb-2">
								<i class="fas fa-check mr-3"></i>Clubs Management</li>
							<li class="mb-2">
								<i class="fas fa-check mr-3"></i>Event Management</li>
							<li class="mb-2">
								<i class="fas fa-check mr-3"></i>Fees Payment Management</li>
							<li class="mb-2">
								<i class="fas fa-check mr-3"></i>Event Content Management</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 left-img-agikes mt-lg-0 mt-sm-4 mt-3 text-right">
					<img src="images/ab.jpg" alt="" class="img-fluid" />

					<div class="about-bottom text-center p-sm-5 p-4">
						<ul>
							<li>
								<h5>20+</h5>
								<p class="text-dark font-weight-bold">Teachers</p>
							</li>
							<li>
								<h5>2000+</h5>
								<p class="text-dark font-weight-bold">Students</p>
							</li>
							<li>
								<h5>5+</h5>
								<p class="text-dark font-weight-bold">Clubs</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- Stats-->
	<div class="stats-w3layouts py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="stats-info">
				<div class="row">
					<div class="col-md-3 col-6 stats-grid-w3-agile text-center px-xl-5 px-3">
						<div class='numscroller font-weight-bold my-2' data-slno='1' data-min='0' data-max='1280' data-delay='.5' data-increment="1">1280</div>
						<p class="text-uppercase text-white border-top pt-4 mt-3">happy students</p>
					</div>
					<div class="col-md-3 col-6 stats-grid-w3-agile text-center  px-xl-5 px-3">
						<div class='numscroller font-weight-bold my-2' data-slno='1' data-min='0' data-max='920' data-delay='.5' data-increment="1">10+</div>
						<p class="text-uppercase text-white border-top pt-4 mt-3">Clubs</p>
					</div>
					<div class="col-md-3 col-6 stats-grid-w3-agile text-center mt-md-0 mt-5  px-xl-5 px-3">
						<div class='numscroller font-weight-bold my-2' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">40</div>
						<p class="text-uppercase text-white border-top pt-4 mt-3">certified teachers</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- //Stats -->
	
	 
	<!-- course-->
	<div class="classes py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-sm-5 mb-4">choose your
				<span class="font-weight-bold">Clubs</span>
			</h3>
			<div class="row pt-4">
				<div class="col-lg-4 col-news-top text-center">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="#">
							<div class="img">
								
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">sports club</h3>
								<p>Sports club</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="#" class="text-dark">Sports Club
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
				<div class="col-lg-4 col-news-top text-center my-lg-0 my-sm-5 my-4">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="communication.html">
							<div class="img">
								 
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Yoga Club</h3>
								<p>Yoga Club</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="#" class="text-dark">Yoga Club
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
				<div class="col-lg-4 col-news-top text-center">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="#">
							<div class="img">
							 
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Carnival Club</h3>
								<p>Carnival Club</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="#" class="text-dark">Carnival Club
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
			</div>
			<!-- <div class="row mt-5">
				<div class="col-lg-4 col-news-top text-center">
					 
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="software.html">
							<div class="img">
								<img src="images/c4.jpg" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">software</h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="software.html" class="text-dark">software
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
				 
				</div>
				<div class="col-lg-4 col-news-top text-center  my-lg-0 my-sm-5 my-4">
					 
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="social_media.html">
							<div class="img">
								<img src="images/c6.jpg" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">social media </h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="social_media.html" class="text-dark">social media
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
				 
				</div>
				<div class="col-lg-4 col-news-top text-center">
					 
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="photography.html">
							<div class="img">
								<img src="images/c5.jpg" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">photography </h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="photography.html" class="text-dark">photography
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					 
				</div>
			</div>-->
		</div>
	</div>
	<!-- //course -->
 

	<!-- footer -->
	<footer>
		 
		<div class="copyright-agiles py-3">
			<div class="container">
				<div class="row">
					<p class="col-lg-8 copy-right-grids text-white text-lg-left text-center mt-lg-1">© 2024 Campus Club Management System. All Rights Reserved  
						 
					</p>
					  
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->


	<!-- Js files -->
	<!-- JavaScript -->
	<script src="../static/js/jquery-2.2.3.min.js"></script>
	<!-- Default-JavaScript-File -->
	<script src="../static/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- banner slider -->
	<script src="../static/js/slider.js"></script>
	<!-- //banner slider -->

	<!-- testimonial-plugin -->
	<script src="../static/js/mislider.js"></script>
	<script>
		jQuery(function ($) {
			var slider = $('.mis-stage').miSlider({
				//  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
				stageHeight: 320,
				//  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
				slidesOnStage: false,
				//  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
				slidePosition: 'center',
				//  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
				slideStart: 'mid',
				//  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
				slideScaling: 150,
				//  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
				offsetV: -5,
				//  Center slide contents vertically - Boolean. Default: false
				centerV: true,
				//  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
				navButtonsOpacity: 1,
			});
		});
	</script>
	<!-- //testimonial-plugin -->

	<!-- numscroller-js-file -->
	<script src="../static/js/numscroller-1.0.js"></script>
	<!-- //numscroller-js-file -->

	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->

	<!-- move-top -->
	<script src="../static/js/move-top.js"></script>
	<!-- easing -->
	<script src="../static/js/easing.js"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="../static/js/edulearn.js"></script>

	<!-- //Js files -->

</body>

</html>