<!DOCTYPE html>
<html lang="en">
<head>
<title>Club Activity Tracking System</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	 <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
 
	<!--// Meta tag Keywords -->

	<!-- banner slider css file -->
	<link href="/static/css/JiSlider.css" rel="stylesheet">
	<!-- //banner slider css file -->

	<!-- gallery-Swipe-box -->
	<link rel="stylesheet" href="/static/css/swipebox.css">
	<!-- //gallery-Swipe-box -->
	
	<!-- testimonials css -->
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" property="" /><!-- flexslider css -->
	<!-- //testimonials css -->

	<!-- css files -->
	<link rel="stylesheet" href="/static/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="/static/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>
	{% include "top.html" %}
	 

<!-- Welcome section -->
<section class="welcome py-5 my-lg-5" id="login">
<div class="container"><div class="row"><div class="col-md-12">
    <h3 class="heading text-center text-uppercase">Principal Home</h3>
    Logged in as {{request.session.user.userid}} ({{request.session.user.utype}})
	<h2>Pending Clubs</h2>
    
	<div class="row">
        {% for rec in list %}<div class="col-md-4 report" > 
		<table id="myTable" class="table  table-striped">
			<tbody>
		<tr> 
              <td colspan="2"><h5> {{rec.1}} </h5></td></tr>
			  <tr><td colspan="2">
				<div style="background-image: url('../static/Clubs/{{rec.2}}');text-align: center; min-height: 200px;height: 200px;width: 200px;display: flex;justify-content: center;background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
				 
			</td></tr>
        <tr> 
			<th> Details   </th><td>   {{rec.3}} </td>
			</tr><tr> 
            <th>Club Admin</th><td> {{rec.5}} </td></tr><tr> 
            <th>Date</th><td> {{rec.6}} </td></tr><tr> 
            <th>Approved By</th><td> {{rec.7}} </td></tr><tr> 
			 <tr><td><a href="/approve_club?club_name={{rec.1}}" class="btn btn-submit1">Approve</a> </td>
				<td><a href="/decline_club?club_name={{rec.1}}" class="btn btn-submit1">Decline</a> </td>
			</tr>
		</tr><tr><td colspan="2"><a href="/viewEvents_pending?clubname={{rec.1}}" class="btn btn-submit1">View Events</a> </td>
		</tbody>
		</table></div>
		{% empty %}
		<div class="col-md-12 report text-center"><h5>No Record Found!!</h5></div>
		{% endfor %}
		<!--
		<div class="col-md-12"><br/><br/>
			<nav aria-label="...">
				<ul class="pagination">
				   
				  <li class="page-item"><a class="page-link" href="#">1</a></li>
				  <li class="page-item active">
					<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="page-item"><a class="page-link" href="#">3</a></li>
				  
				</ul>
			  </nav>
		</div>-->
		  
</div>
	</div>
</div>
</div>
	</section>
    
</body>
 
</html>