<!DOCTYPE html>
<html lang="en">
<head>
<title> </title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	  
</head>

<body>
	{% include "top.html" %} 
<!-- Welcome section -->
<section class="welcome py-5 my-lg-5" id="login">
	 <div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="heading text-center text-uppercase"> {{mess}}</h3>
				<h4 class="text-center"><a class="text-center" href=/{{link}}>continue..</a></h4>
				 
			</div>
		</div>
	 </div>
	

	</section>