<!DOCTYPE html>
<html lang="en">
<head>
<title>Club Activity Tracking System</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	 <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
 
	<!--// Meta tag Keywords -->

	<!-- banner slider css file -->
	<link href="/static/css/JiSlider.css" rel="stylesheet">
	<!-- //banner slider css file -->

	<!-- gallery-Swipe-box -->
	<link rel="stylesheet" href="/static/css/swipebox.css">
	<!-- //gallery-Swipe-box -->
	
	<!-- testimonials css -->
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" property="" /><!-- flexslider css -->
	<!-- //testimonials css -->

	<!-- css files -->
	<link rel="stylesheet" href="/static/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="/static/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>
	{% include "top.html" %}
	 

<!-- Welcome section -->
<section class="welcome py-5 my-lg-5" id="login">
<div class="container"><div class="row"><div class="col-md-12">
    <h3 class="heading text-center text-uppercase">{{request.session.user.utype}} Home</h3>
    Logged in as {{request.session.user.userid}} ({{request.session.user.utype}})
    <h2>Events</h2>
    
	<div class="row">
        {% for rec in list %}<div class="col-md-12 report" > 
		<table id="myTable" class="table  table-striped">
			<tbody>
		<tr> 
              <td colspan="6"><h5> {{rec.1}} </h5></td></tr>
			  <tr><td  rowspan="8" colspan="2">
				<div style="background-image: url('../static/Event_Logo/{{rec.8}}');text-align: center; min-height: 200px;height: 200px;width: 200px;display: flex;justify-content: center;background-repeat: no-repeat;background-size: contain;background-position: center center;"></div>
				 
			</td></tr>
        <tr> 
			<th> Details   </th><td colspan="3">   {{rec.11}} </td>
			</tr><tr> 
            <th>Club name</th><td colspan="3"> {{rec.10}} </td></tr><tr> 
            <th>Date</th><td colspan="3"> {{rec.3}} </td></tr><tr> 
				<th>Time</th><td colspan="3"> {{rec.4}} </td></tr><tr> 
					<th>Venue</th><td colspan="3"> {{rec.5}} </td></tr><tr> 
            <th>Approved By</th><td colspan="3"> {{rec.7}} </td></tr><tr> 
				<tr> 
					<td><a target="_blank" href="/uploadDocs_event?eventId={{rec.0}}&event={{rec.1}}&clubname={{rec.10}}" class="btn btn-submit1">Upload Content</a> </td>
					<td colspan="1"><a target="_blank" href="/viewDocs_event?eventId={{rec.0}}&event={{rec.1}}&clubname={{rec.10}}" class="btn btn-submit1">View content</a> </td>
					 <td colspan="1"><a target="_blank" href="/viewDocs_eventPending?eventId={{rec.0}}&event={{rec.1}}&clubname={{rec.10}}" class="btn btn-submit1">Pending content</a> </td>
					<td colspan="1"><a href="/pending_participant_req?eventname={{rec.1}}&clubname={{rec.10}}" class="btn btn-submit1">Pending Participants</a>  </td>
					 
				 <td colspan="1"><a target="_blank" href="/markAttendance?eventname={{rec.1}}&clubname={{rec.10}}" class="btn btn-submit1">Mark Attendance</a> </td>
					<td colspan="1"><a href="/viewAttendance?eventname={{rec.1}}&clubname={{rec.10}}" class="btn btn-submit1">View Attendance</a>  </td>
					 
				</tr>
			</tr><tr><td><a target="_blank" href="/regReviews?eventId={{rec.0}}&eventname={{rec.1}}&clubname={{rec.10}}" class="btn btn-submit1">Submit Reviews</a> </td>
				<td><a target="_blank" href="/viewReviewsEvent?eventId={{rec.0}}&eventname={{rec.1}}&clubname={{rec.10}}" class="btn btn-submit1">View Reviews</a> </td>		</tr>
		</tbody>
		</table></div>{% empty %}
		<div class="col-md-12 report text-center"><h5>No Record Found!!</h5></div>
		{% endfor %}
		<!--
		<div class="col-md-12"><br/><br/>
			<nav aria-label="...">
				<ul class="pagination">
				   
				  <li class="page-item"><a class="page-link" href="#">1</a></li>
				  <li class="page-item active">
					<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="page-item"><a class="page-link" href="#">3</a></li>
				  
				</ul>
			  </nav>
		</div>-->
		  
</div>
	</div>
</div>
</div>
	</section>
    
</body>
 
</html>